<template>
  <client-only>
    <div
      v-masonry="'photogma'"
      transition-duration="1s"
      :item-selector="`.${$style.item}`"
      stagger="0.03s"
      class="w-full lg:w-4/5"
      :class="$style.masonrycontainer"
    >
      <div
        v-for="(item, index) in photos"
        :key="item.uri"
        v-masonry-tile
        class="p-4 sm:p-1"
        :class="[{ 'w-full sm:w-1/2 lg:w-1/3': item.col == 1 }, { 'w-full lg:w-2/3': item.col == 2 }, $style.item]"
      >
        <picture>
          <source :srcset="item.uri + '.webp'" type="image/webp" />
          <img :class="$style.myphoto" :src="item.uri + '.jpeg'" :alt="'Photo ' + (index + 1)" @load="imageLoaded" />
        </picture>
      </div>
    </div>
  </client-only>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ClientOnly from 'vue-client-only';

@Component({ components: { ClientOnly } })
export default class VuePhotog extends Vue {
  photos = [
    { uri: '/photog/_DSC0033', col: 1 },
    { uri: '/photog/_DSC1079', col: 1 },
    { uri: '/photog/ferry_lover', col: 2 },
    { uri: '/photog/_DSC0173', col: 1 },
    { uri: '/photog/_DSC9292', col: 1 },
    { uri: '/photog/_DSC9597', col: 1 },
    { uri: '/photog/_DSC0425', col: 1 },
    { uri: '/photog/_DSC0999', col: 1 },
    { uri: '/photog/_DSC0614', col: 1 },
    { uri: '/photog/_DSC0084', col: 1 },
    { uri: '/photog/_DSC9213', col: 1 },
  ];

  imagesloaded = 0;

  mounted() {
    if ('ontouchstart' in document.documentElement) {
      document.documentElement.classList.add(this.$style.touch);
    }
    if (typeof this.$redrawVueMasonry === 'function') {
      this.$redrawVueMasonry('photogma');
    }
  }

  imageLoaded() {
    this.imagesloaded += 1;
    if (this.imagesloaded % 3 === 0 || this.imagesloaded === this.photos.length) {
      this.$redrawVueMasonry('photogma');
    }
  }
}
</script>

<style lang="postcss" scoped module>
.masonrycontainer {
  @apply flex justify-center items-center mx-auto;
}

.item {
  z-index: 1;
  min-height: 200px;
}

.item:hover {
  z-index: 9;
}

.myphoto {
  @apply shadow-2xl;
  transition: transform 0.1s ease-out;
}

.myphoto:hover {
  transform: scale(1.15);
  transition: transform 0.25s ease-out;
}

.touch .myphoto:hover {
  transform: none !important;
}
</style>
